.contact-fieldset__legend {
  position: relative;
  padding-top: 26px;
  padding-bottom: 35px;

  @media (min-width: 769px) {
    padding: 77px 0 75px 0;
    margin-left: -5px;
  }

  @media (min-width: 1440px) {
    padding-top: 0;
    margin-left: -2px;
  }

  &::after,
  &::before {
    position: absolute;
    content: "";
    background-color: #68b738;
    height: 2px;
  }

  &::after {
    @media (min-width: 320px) {
      width: 99px;
      top: 37%;
      right: -8%;
    }

    @media (min-width: 769px) {
      width: 145px;
      top: 52.5%;
      right: -36%;
    }

    @media (min-width: 1440px) {
      width: 778px;
      top: 19%;
      right: -159.5%;
    }
  }

  &::before {
    @media (min-width: 769px) {
      width: 30px;
      top: 52.5%;
      left: -13%;
    }

    @media (min-width: 1440px) {
      width: 14%;
      top: 19%;
      left: -21%;
    }
  }
}

.contact-fieldset__list-items {
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: 1440px) {
    display: flex;
    align-items: center;
    column-gap: 78px;
    flex-wrap: nowrap;
  }
}

.contact-fieldset__list-items__item {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  @media (min-width: 1440px) {
    width: 100%;
    margin-left: 1.5px;
  }
}

.contact-fieldset__item__label {
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #444444;

  margin-right: 12px;
  margin-left: -2px;
  width: max-content;

  @media (min-width: 769px) {
    margin-left: -3px;
    font-size: 20px;
    line-height: 30px;
    margin-right: 22px;
  }
}

.contact-fieldset__item__input {
  max-height: 45px;
  box-sizing: border-box;
  padding: 14px 15px 13px 14px;
  width: auto;
  flex-grow: 1;
  margin: 0;

  border: 1px solid #e7e7e7;

  font-family: "Oswald", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #444444;

  @media (min-width: 769px) {
    font-size: 20px;
    line-height: 30px;
    max-height: 52px;
    padding: 14px 15px 13px 19px;
  }
}

.contact-fieldset__list-items__item:not(:last-child) {
  margin-bottom: 14px;

  @media (min-width: 769px) {
    margin-bottom: 20px;
  }

  @media (min-width: 1440px) {
    margin-bottom: 0;
  }
}

.contact-fieldset__item__icon {
  position: absolute;
  top: 33.5%;
  right: 5%;

  @media (min-width: 769px) {
    top: 37.5%;
    right: 2.25%;
  }

  @media (min-width: 1440px) {
    top: 36%;
    right: 3.5%;
  }
}

.contact-fieldset__item__icon__path {
  fill: #ffffff;
}
