.page__footer {
  background-color: #f2f2f2;
  padding: 0 20px;

  @media (min-width: 769px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 55px 30px;
  }

  @media (min-width: 1440px) {
    padding: 66px 110px;
  }
}

.page__footer__logo {
  display: block;
  margin: 40px auto 20px;
  width: 128px;

  @media (min-width: 769px) {
    margin: 0;
  }
}
